//fonts
$fontTitle: 'RedHatDisplay600', sans-serif;
$fontSubTitle: 'RedHatDisplay500', sans-serif;
$sinText: 'RedHatDisplay400', sans-serif;
$fontBtn: 'Lato600', sans-serif;
$fontText: 'Lato', sans-serif;

//colors
$bg: #FFF;
$bgFooter: #F4F4F4;
$subColor: #565656;
$fontColor: #7B7B7B;


// media queries

